
#nav {
	list-style-type: none;
	margin: 0;
	margin-left: 0px;
	padding: 0;
	height: 36px;
}

	#nav li {
		float: left; 
		display: block;
		width:12.4%;
	}
	
		#nav li a {
			display: block;
			padding: 8px;
			background-color: #425d30;			
			color: #FFF;
			text-align: center;
			text-decoration: none;
			font-size: 90%;
			border-right: 1px solid #fff;
			border-top: 1px solid #fff;
		}	
		
			#nav li a:hover, #nav li.here a {
				background-color: #bde865;
				background-position:top;
				color: #000;		
			}
			
			#nav li.last a {
				border-right: none;
				padding: 8px 8px;
			}
	#subblock {
	width:660px;
	font-size: 110%;
	border: 1px #999 solid;
	color:#111;
	padding: 4px;
	margin:1px;

	background-color: #ddd;
	
}
#filestitle {
		width:360px;
	font-size: 110%;
	border: 2px #fff solid;
	color:#111;
	padding: 4px;
	margin:1px;
	background-color: #bde865;
}


