#nav {
	list-style-type: none;
	margin: 1px;
	padding: 0;
	//height: 23px;
}

	#nav li {
		float: left; 
		display: block;
		width:90px;
	}
	
		#nav li a {
			display: block;
			padding: 8px;
			background-color: #c9b376;
			color: #111;
			text-align: center;
			text-decoration: none;
			font-size: 90%;
			border: 1px solid #fff;
		}	
		
			#nav li a:hover, #nav li.here a {
				background-color: #996a18;
				background-position:top;
				color: #fff;		
			}
			
			#nav li.last a {
				border-right: none;
				padding: 8px 23px;
			}
	
#contacts_subnav {
	list-style-type: none;
	z-index:1000;
	position:absolute;
	//top:5px;	
	left:0px;	
	margin: 0;
	margin-left: 0px;
	padding: 0;
	height: 94px;	
}
		#contacts_subnav li {		
			display: block;
			width: 90px;
		}
		
			#contacts_subnav li a {			
			display: block;
				padding: 8px 16px;			
				background-color: #c9b376;
				color: #000;
				text-decoration: none;
				border-right: 1px solid #bb813b;
			}	
			
				#contacts_subnav li a:hover {
					background-color: #996a18;
					color: #fff;
				}
				
				#contacts_subnav li.here a {
					background-color: #4c48d8;
					color: #fff;
				}
				
				#contacts_subnav li.last a {
					border-bottom: none;
					padding: 8px 23px;
				}
	
	#reports_subnav {
		list-style-type: none;
		z-index:1000;
		position:absolute;
	//	top:25px;	
		left:0px;	
		margin: 0;
		margin-left: 0px;
		padding: 0;
		height: 94px;	
	}
	
		#reports_subnav li {		
			display: block;
			width: 90px;
		}
		
			#reports_subnav li a {			
			display: block;
				padding: 8px 16px;
				background-color: #c9b376;
				color: #000;
				text-decoration: none;
				border-right: 1px solid #bb813b;
			}	
			
				#reports_subnav li a:hover {
					background-color: #666666!important;
					color: #fff;
				}
				#reports_subnav li.here a {
					background-color: #8a0013;
					color: #fff;
				}
				
				#reports_subnav li.last a {
					border-bottom: none;
					padding: 8px 23px;
				}
		
#fpblock {
	font-size: 80%;
	float: left;
	width: 47%;
	border: 1px #ccc solid;
	height:180px; 
	overflow : auto; 
	padding: 10px;
	margin:2px;
	background-color: #f3e89d;
	
}
#fpblock h3 {
	font-size: 110%;
	border: 2px #fff solid;
	color:#111;
	padding: 4px;
	margin:1px;
	background-color: #d0a85a;
	
}
#subtitle h3 {
	width:360px;
	font-size: 110%;
	border: 2px #fff solid;
	color:#111;
	padding: 4px;
	margin:1px;
	margin-left:100px;
	background-color: #d0a85a;
	
}
#filestitle {
		width:360px;
	font-size: 110%;
	border: 2px #fff solid;
	color:#111;
	padding: 4px;
	margin:1px;
	background-color: #d0a85a;
}

